
@import "bootstrap.less";
@import "variables.less"; // From http://bootswatch.com/cerulean/
@import url("http://fonts.googleapis.com/css?family=Ubuntu:400,700");

// Copied from http://fortawesome.github.com/Font-Awesome/
@import "third_party/FortAwesome-Font-Awesome/less/font-awesome.less";
@font-face {
  font-family: 'FontAwesome';
  src: url('../font/fontawesome-webfont.eot');
  src: url('../font/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
       url('../font/fontawesome-webfont.woff') format('woff'),
       url('../font/fontawesome-webfont.ttf') format('truetype'),
       url('../font/fontawesome-webfont.svg#FontAwesome') format('svg');
  font-weight: normal;
  font-style: normal;
}

// Further customize
//@baseFontSize:          18px;
//@baseLineHeight:        24px;
@placeholderText:         lighten(@grayLight, 20%);

a[disabled]:link,
a[disabled]:visited,
a[disabled]:hover {
   text-decoration: none;
   color: inherit;
}

body {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  padding: 0em 1em 0em 1em;
}

.outer {
  padding: 1em 0em 1em 0em;
}

.navlink:link, .navlink:visited {
  color: white;
}

.navbar .brand {
  img.brand-logo {
    vertical-align: text-bottom;
    height: 20px;
    width: 20x;
  }

  font-family: 'Ubuntu', @sansFontFamily;
  a:link, a:visited, a:hover {
    color: white;
    text-decoration: none;
  }
}

//
// Shortener Panel
//
.add-shortener-button {
  .btn;
}

.group-label {
  font-size: @baseFontSize;
  font-weight: bold;

  position: absolute;
  top: -1px;
  left: -1px;
  padding: 3px 7px;

  background-color: @wellBackground;
  color: #9da0a4;

  border: 1px solid #ddd;
  .border-radius(4px 0 4px 0);
}

.group-label-holder {
  position: relative;
}

.my-shortener-list {
  .group-label-holder;
  border: 1px solid @btnBorder;
  .border-radius(@baseBorderRadius);
  padding: 3em 1em 1em 1em;

  &:after {
    content: "Your Shortener";
    .group-label;
  }
}

.my-shortener {
  display: inline-block;
  font-family: @monoFontFamily;
  margin-right: 0.5em;
  .shortener-host {
    background-color: white;
    padding-right: 0.5em;
    padding-left: 0.5em;
  }
}

.my-shortener-none {
  font-family: @monoFontFamily;
}

.my-shortener-new {
  input[type="text"] {
    font-family: @monoFontFamily;
  }

  .input-label {
    display: inline-block;
    width: 6em;
  }

  #host {
    width: 12em;
  }

  #pattern {
    width: 32em;
  }

  .add-shortener-button {
    .btn;
    .btn-primary;
  }
}

img.avatar {
  height: 20px;
  width: 20px;
}
