; Should be copied to boto.conf
[Credentials]
aws_access_key_id = <your access key>
aws_secret_access_key = <your secret key>
github_client_id = <your client id>
github_client_secret = <your client secret>

[Test]
foo = bar
