{% set subpath = "/about" %}
{% extends "base.html" %}

{% block content %}
<div class="longtext">
<a nmae="whatis"><h2>What is hasb.ug?</h2></a>

<p>
Hasb.ug is <em>a URL shortener</em> for bug tracker URLs.
</p>
<p>
For example, hasb.ug shortens a long Bugzilla URL <a href="https://bugs.webkit.org/show_bug.cgi?id=63606">https://bugs.webkit.org/show_bug.cgi?id=63606</a>
to <a href="http://wkb.ug/63606">http://wkb.ug/63606</a>.
</p>
<p>
You can register <em>your own domain or host name</em> (like "wkb.ug") to hasb.ug server and associate specific URL pattern to the name.
Hasb.ug redirects the short version to associated long version. This name-pattern pair is called a <em>shortener</em>.
<a href="{{ url_for('login_oauth') }}">Sign in</a> using your Github account to tell hasb.ug about your shorteners.
</p>

<p>
Hasb.ug also provides names under hasb.ug domain for you.
For example, you can create <a href="http://less.hasb.ug/">less.hasb.ug</a> as a short version of
<a href="https://github.com/cloudhead/less.js/issues/">https://github.com/cloudhead/less.js/issues/</a>.
You don't need to pay for any domain names if you use names under hasb.ug domain.
</p>

<a name="domain"><h2>Domain Setup</h2></a>

<p>
Once purchased a domain for your bug, you need to 
</p>
<ul>
  <li>Point <em>50.19.127.155</em> as your domain's A record. This is the IP address of hasb.ug server. Then,</li>
  <li>Tell the domain to hasb.ug through <a href="{{ url_for('user_private') }}">the console page</a>.</li>
</ul>
</p>
Note: For hasb.ug sub-domains, what you need to do is just to tell it from the cosole. No DNS configuration is needed.
</p>

<a name="bookmarklet"><h2>Bookmarklet</h2></a>

<p>
You can use this bookmarklet to shorten the bug URL:
<a href="javascript:window.location = 'http://hasb.ug/aka/' + encodeURIComponent(window.location);">Shorten Bug!</a>
</p>

<a name="who"><h2>Who Runs This?</h2></a>

<p>
<a href="http://github.com/omo">Hajime Morrita</a>.
</p>
<p>
Hasb.ug development is hosted at Github and you can report bugs or feature requests using <a href="https://github.com/omo/hasb.ug/issues">the issue tracker</a>.
Any feedback would be appreciated :-)
</p>

</div>

{% endblock %}
