<!DOCTYPE html>
<html>
<head>

{% macro social(show_github_btn) -%}
<div class="social-button">
  <div class="g-plusone" data-size="medium" data-annotation="none"></div>
</div>
<div class="social-button">
  <a href="https://twitter.com/share" class="twitter-share-button" data-url="{{ request.url }}" data-count="none" data-hashtags="hasbug">Tweet</a>
</div>
<div class="social-button">
  <div class="fb-like" data-href="{{ request.url }}" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false" data-font="verdana"></div>
</div>
{% if show_github_btn %}
<div class="social-button">
  <iframe src="http://ghbtns.com/github-btn.html?user=omo&repo=hasb.ug&type=watch&count=true"
          allowtransparency="true" frameborder="0" scrolling="0" width="85" height="20"></iframe>
</div>
{% endif %}
{%- endmacro %}

{%- macro hide_at_firt() %}style="display:none;"{%- endmacro %}
{% block head %}
<title>hasb.ug{{ subpath }}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/main.css' )}}" />
<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico' )}}" type="image/x-icon">
<!-- FIXME: SHould be @defer -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js" defer></script>
<script src="{{ url_for('static', filename='javascript/vendor/bootstrap.js' )}}" defer></script>
<script src="{{ url_for('static', filename='javascript/main.js' )}}" defer></script>
{% endblock %}
</head>
<body>

{# 
 Add-on scripts
 #}
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-27326331-2']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

<div class="inner-body">

<div style="display: none;">
  <form id="form-signout" action="{{ url_for('logout') }}" method="POST">
     <input type="hidden" name="canary" value="{{ canary }}" />
  </form>
</div>

<div class="outer">
<div class="navbar navbar-inverse">
      <div class="navbar-inner">
        <div class="container-fluid">
          <span class="brand">
            <a href="/">hasb.ug</a> {{ subpath }}
          </span>
          <div class="navbar-text pull-right">
              <ul class="nav">
{% if user %}
                <li class="{% if request.path == url_for('user_private') %}active{% endif %}">
                   <a href="{{ url_for('user_private') }}" title="You"><img class="avatar" src="{{ user.avatar_url }}" /></i></a>
                </li>
                <li><a href="#" id="nav-signout"><i class="icon-signout" title="Sign out"></i></a></li>
{% else %}
                <li><a class="navlink" href="{{ url_for('login_oauth') }}"><i class="icon-github"></i> Sign in</a></li>
{% endif %}
              </ul>
          </div>
        </div>
      </div>
</div>

{% block content %}{% endblock %}

<div class="about-block">
<a href="{{ url_for('about') }}">about</a>
-
<a href="https://twitter.com/search?q=hasbug">#hasbug</a>
-
<a href="https://github.com/omo/hasb.ug/issues">this.hasb.ug</a>
-
<a href="https://github.com/yukop/sandbox/tree/master/study/hasbee"><img class="hasbee" src="{{ url_for('static', filename='images/hasbee_32x32.png') }}" /></a>
</div>

</div>
</body>
</html>
