{% extends "base.html" %}

{% block head %}
{{ super() }}
<meta property="og:title" content="{{ title }}"/>
<meta property="og:description" content="{{ description }}"/>
<meta property="og:type" content="article"/>
<meta property="og:url" content="{{ request.url }}"/>
<meta property="og:image" content="{{ background.url }}"/>
<meta property="og:site_name" content="Hasb.ug"/>
<meta name="twitter:site" content="@hasbug">
<meta name="twitter:url" content="{{ request.url }}"/>
<meta name="twitter:title" content="{{ title }}"/>
<meta name="twitter:description" content="{{ description }}"/>
<meta name="twitter:image" content="{{ background.url }}"/>
{% endblock %}
{% block content %}
<div class="explaining-shortener imaging-holder">
<img src="{{ background.url }}" width="100%" />
<div class="text">
{% block image_text %}{% endblock %}
</div>
</div>
<div class="imaging-footer">
  <div class="social">{{ social() }}</div>
  <div class="credit">The image is from <a href="{{ background.credit }}">{{ background.credit_name }}</a>.</div>
  <div class="clear"></div>
</div>
{% endblock %}
