{% extends "base.html" %}
{% block subpath %}/me{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
Add Shortenr:
<form>
<ul>
 <li>Host: <input id="host" type="text" /> </li>
 <li>Pattern: <input id="pattern" size="50" type="text" /> </li>
 <input type="hidden" id="canary" value="{{canary}}">
 <input type="button" class="add-shortener-button" value="Add">
{% for h in belongings.shortener_hosts %}
 <div><a href="{{ url_for('shortener', host=h) }}">{{ h }}</a><input type="button" value="Delete" class="delete-shortener-button" data-host="{{ h }}"></div>
{% endfor %}
</ul>
</form>
{% endblock %}
