{% set title = shortener.host|upper %}
{% set description = shortener.host|upper + " - A hasb.ug shortener for " + shortener.guessed_root + " made by @" + shortener.added_by_login + "." %}
{% set subpath  = "/s/" + shortener.host %}
{% set background  = background %}
{% extends "imaging.html" %}

{% block image_text %}
{{ ("Brave", "Awesome", "Generous", "Handsome", "Crazy")|random }}
<a class="explainig-profile" href="{{ shortener.added_by_login | link_to_profile }}">@{{ shortener.added_by_login }}</a>
made
<div class="explaining-box"><em class="explainig-host"><a href="{{ shortener.host | link_to_host }}">{{ shortener.host }}</a></em>.</div>

It {{ ("carries", "flies", "brings", "drives", "kicks",)|random }} you to
<div class="explaining-box"><em class="explaining-pattern"><a href="{{ shortener.guessed_root }}">{{ shortener.guessed_root }}</a></em>...</div>
{% endblock %}
